*.bak*
*.log
*.swp
*.bbl
*.blg
*.ptc
*.exe
*.aux
documentation/_minted-latexindent/
documentation/latexindent-blx.*
documentation/*.listing
documentation/*.lol
documentation/*.new
documentation/*.out
documentation/*.run.xml
documentation/*.toc
documentation/*.out
documentation/build
nytprof*
documentation/*.pyg
documentation/*.bbl
documentation/*.blg
documentation/*.pdf
documentation/titlepage/*.pdf
*.out
